<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<style>
    /* CSS code for button */
    body {
      background-image: url('static/images/project.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			<h1>Machine Learning App with Flask</h1>
				<style> 
				h1 {color: rgb(4, 96, 4);}
				</style> 
		</div>
		<h3>Spam Detector For Email Messages</h3>
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p>Enter Your Message Here</p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="6" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="Predict">
		
	</form>
		
	</div>

	
	

</body>
</html>
